@page
@model RegisterModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Account";
}
<div class="login-container">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <!-- Email and Username -->
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Input.Username" class="form-control" id="username" placeholder="Username" />
                    <label asp-for="Input.Username">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" id="email" placeholder="Email" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Password -->
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" id="floatingPassword" autocomplete="current-password" aria-required="true" placeholder="Password" />
            <label asp-for="Input.Password" class="form-label">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <!-- Confirm Password -->
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" id="confirmPassword" type="password" placeholder="Confirm Password" />
            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-info">GET STARTED</button>
        </div>
    </form>

    <!-- OR -->
    <div class="or-container">
        <div class="line"></div>
        <span class="or-text">OR</span>
        <div class="line"></div>
    </div>

    <!--Another service to register-->
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div class="socialmedia">
            <p>
                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button class="register" type="submit" name="provider" value="@provider.Name" title="@provider.DisplayName">
                        <img src="~/images/@provider.Name-brands-solid.svg" alt="Facebook" />@provider.Name
                    </button>
                }
            </p>
        </div>
    </form>
</div>

<!-- Footer -->
<div class="footer">
    <p>Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log In</a></p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}